<div class="kb-browse-{{::c.data.instanceid}} kb-browse-block">
  <div class="kb-browse-section self-clear col-xs-12">
    <span aria-live="assertive" class="sr-only ng-binding" role="alert">{{c.notity_subscription}}</span>
    <div class="kb-browse-title">
      <div class="kb-header-block">
        <h2 class="kb-header hidden-xs" ng-class="{'vertical-divider': c.data.canCreateArticle || c.data.canPostQuestion}" ng-bind="::c.options.title"></h2>
        <h2 id="kbBrowseTitle" class="kb-header hidden-md hidden-lg hidden-sm visible-xs" ng-class="{'vertical-divider': c.data.canCreateArticle || c.data.canPostQuestion}" ng-bind="::c.options.title"></h2>
      </div>
      <div class="kb-action-btns" ng-if="(c.data.canCreateArticle || c.data.canPostQuestion)">
        <a class="btn ask-question-btn hidden-xs action-btns" ng-if="c.data.sqaUiActive && c.data.canPostQuestion" href="{{::c.options.post_question_url}}" ng-bind="::c.options.post_question_label"></a>
        <a class="btn create-article-btn hidden-xs action-btns" ng-if="c.data.canCreateArticle" href="{{::options.create_article_url}}" ng-bind="::c.options.create_article_label"></a>
      </div>
    </div>
    <div class="kb-browse-content self-clear">
      <div class="kb-browse-tiles" aria-labelledby="kbBrowseTitle" role="list">
        <div class="kb-tile-block" role="group" ng-class="{'kb-hidden-tile kb-hide-me':$index > 3}" data-ng-repeat="item in c.getOrderedItems() track by item.sys_id" role="listitem">
          <div class="kb-tile panel panel-{{::options.color}}">
            <div class="kb-top kb-tile-link kb-center">
              <a href="?id=kb_search&kb_knowledge_base={{::item.sys_id}}" aria-label="${{{::c.getKBLabel(item.title,item.article_count,item.questions_count,item.enable_socialqa)}}}">
                <div class="link-icon">
  <i class="fa fa-book" aria-hidden="true"></i>

                </div>
                <div ng-if="!c.isFirefox" class="link-text" title="${knowledge base}">
                  <h3 id="{{'kbTitle'+$index}}" ng-bind="::item.title"></h3>
                </div>
                <div ng-if="c.isFirefox" class="link-text" title="${knowledge base}">
                  <h3 ng-if="item.title.length < 27" ng-bind="::item.title"></h3>
                  <h3 ng-if="item.title.length > 26" class="big-title" ng-bind="::c.trimTitle(item.title)"></h3>
                </div>
                <div class="kb-details" ng-if="item.article_count || item.article_count == 0 || (item.enable_socialqa && (item.questions_count || item.questions_count == 0))">
                  <span class="kb-summary">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    <span class="kb-count" ng-bind="::item.article_count"></span>
                  </span>
                  <span title="${Social Q&A}" ng-if="item.enable_socialqa && c.data.sqaUiActive">
                    <span class="kb-summary">
                      <i class="fa fa-question-circle" aria-hidden="true"></i>
                      <span class="kb-count" ng-bind="::item.questions_count"></span>
                    </span>
                  </span>
                </div>
              </a>                    
            </div>
            <div class="kb-bottom panel-footer" ng-class="{'kb-top-pad':!c.data.canSuscribe}">
              <button ng-if="c.data.canSuscribe && !item.subscribed" 
                      id="subscribeButton_{{::item.sys_id}}"
                      ng-click="::c.updateSubscription(item, $event)"
                      class="subscribe-link sublink_{{::item.sys_id}} btn btn-link kb-subscribe"  
                      ng-focus="::c.updateSubText(item,0)"
                      ng-blur="::c.updateSubText(item,1)">
                <span class="sub-icon">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                  <span class="sub-text" aria-hidden="true">{{c.data.SUBSCRIBE_LABEL}}</span>
                  <span class="sr-only">{{c.getTranslatedText(c.data.subscribeText, item.title)}}</span>
                </span>
              </button>
              <button ng-if="c.data.canSuscribe && item.subscribed"
                      id="subscribeButton_{{::item.sys_id}}"
                      ng-click="::c.updateSubscription(item, $event)"                      
                      class="subscribe-link sublink_{{::item.sys_id}} btn btn-link kb-subscribe"  
                      ng-focus="::c.updateSubText(item,0)"
                      ng-mouseover="::c.updateSubText(item,0)"
                      ng-blur="::c.updateSubText(item,1)"
                      ng-mouseleave="c.updateSubText(item,1)">
                <span class="unsub-icon">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                  <span data-hover="${Unsubscribe}" class="unsub-text unsub_{{::item.sys_id}}">
                    <span aria-hidden="true">{{item.subscribedLabel?item.subscribedLabel:c.data.SUBSCRIBED_LABEL}}</span>
                    <span class="sr-only">{{c.getTranslatedText(c.data.unsubscribeText, item.title)}}</span>
                  </span>
                </span>
              </button>
            </div>
         </div>
      </div>
    </div>
<div class="kb-show-more self-clear col-xs-12" data-ng-if="c.data.result ? c.data.result.length > 4 : false">
<div class="toggle-wrapper">
  <span class="toggle-label" ng-bind="c.showMoreLink ? '${Show more}' : '${Show Less}'"></span>
  <label class="switch">
    <input type="checkbox" aria-expanded="{{!c.showMoreLink}}" ng-click="c.toggleKbTiles(c.showMoreLink ? 'less' : 'more')">
    <span class="slider round"></span>
  </label>
</div>
</div>
</div>

  </div>
</div>
<script>
</script>